<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuitionManagementApp"
        tools:targetApi="31">

        <!-- Launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".AdminRegTeacher" />
        <activity android:name=".AdminRegStudentActivity" />
        <activity android:name=".AdminAssignStudentActivity" />
        <activity android:name=".AdminViewAccountActivity" />
        <activity android:name=".AdminViewProfileActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".StudentAttendanceActivity" android:exported="true" />
        <activity android:name=".StudentAssignmentsActivity" android:exported="true" />
        <activity android:name=".StudentMaterialsActivity" android:exported="true" />
        <activity android:name=".StudentScheduleActivity" android:exported="true" />
        <activity android:name=".StudentHome" android:exported="true" />
        <activity android:name=".ClassDetailsActivity" />
        <activity android:name=".ViewAttendanceActivity" />
        <activity android:name=".ExamMarksActivity" />
        <activity android:name=".TeacherHomeActivity" />

        <!-- Barcode scanner -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation" />
    </application>

</manifest>